
<button style="font-size: 20px; text-align: center;"><a style="text-decoration: none; color: rgb(189, 51, 51);" href="{% url 'index' %}">Inicio</a></button>
<button style="font-size: 20px; text-align: center;"><a style="text-decoration: none; color: rgb(189, 51, 51);" href="{% url 'usuario_list' %}">Usuarios</a></button>
<button style="font-size: 20px; text-align: center;"><a style="text-decoration: none; color: rgb(189, 51, 51);" href="{% url 'pedido_list' %}">Pedidos</a></button>
<button style="font-size: 20px; "><a style="text-decoration: none; color: rgb(189, 51, 51);" href="{% url 'servicio_list' %}">Servicios</a></button>